<!doctype html>
{% load static %}
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tiempos estimados</title>
        <meta name="description" content="Servicios en vivo">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "components/normalize-css/normalize.css" %}">
        
        <!-- leaflet -->
        <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
        
        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap-theme.min.css" %}" />

    <!-- datatable -->
        <link rel="stylesheet" href="{% static "components/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" />
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container-fluid">
            <HR>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Información diaria sobre buses</h3>
                </div>
                <div class="panel-body">
                    <table id="table" class="table table-striped table-bordered dataTable no-footer table-condensed" width="100%">
                    </table>
                </div>
            </div>
        </div>
        
        <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>    
        <script src="{% static "components/datatables.net/js/jquery.dataTables.min.js" %}"></script>    
        <script src="{% static "components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>    

        <script>
            
$(document).ready(function() {

    /*function generateBusTable(dataSet) {
        var table = $('#table').DataTable({
            data: dataSet,
                columns: [
                    {title: 'Servicio'},
                    {title: 'Patente'},
                    {title: 'Kilómetros en ruta'},
                    {title: 'Kilómetros fuera de ruta'},
                    {title: 'Costo en ruta'},
                    {title: 'Costo fuera de ruta'},
                ]           
        });
    };
    */


/*
    $.ajax({
        url: "getBusesInfo",
        success: function(data){
            generateBusTable(data);
        }
    });
*/

    var table = $('#table').DataTable({
            ajax: "getBusesInfo",
                columns: [
                    {title: 'Servicio'},
                    {title: 'Patente'},
                    {title: 'Tiempo inicial de expedición'},
                    {title: 'Tiempo final de expedición'},
                    {title: 'Kilómetros en ruta'},
                    {title: 'Kilómetros fuera de ruta'},
                    {title: 'Tiempo en ruta'},
                    {title: 'Tiempo fuera de ruta'},
                    {title: 'Velocidad Media (Km/h)'},
                    {title: 'Costo en ruta (CLP)'},
                    {title: 'Costo fuera de ruta (CLP)'},
                    {title: 'Número de no detenciones en paradero'},
                    {title: '¿Es ruta conocida?'},
                    {title: '¿Está detenido?'},
                ]           
        });
/*
    setInterval( function () {
        table.ajax.reload( null, false ); // user paging is not reset on reload
    }, 60000 );
*/
});
        

        </script>
    </body>
</html>
