<!doctype html>
{% load static %}
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tiempos de viaje</title>
        <meta name="description" content="Servicios en vivo">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
        
        <!-- leaflet -->
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.1/dist/leaflet.css" />

        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />

        <style>
        html, body, .container-fluid {
             height: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        } 
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.8;
        }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container-fluid">
            <div class="row" style="height: 100%">
                <div class="col-md-12" style="height: 100%">
                    <div id="mapid" style="height: 100%;min-height: 100%"></div>
                </div>
            </div>
        </div>
        
        <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>    
        <script src="https://npmcdn.com/leaflet@1.0.1/dist/leaflet.js"></script>
        <script src="{% static "js/Leaflet.GTFS.js" %}"></script>
        <script src="{% static "js/leaflet.hotline.js" %}"></script>
        <script src="{% static "js/Leaflet.polylineDecorator.js" %}"></script>

        <script>
            $(document).ready(function() { 
                /*
                 *  Based on:
                 *  https://iosphere.github.io/Leaflet.hotline/demo/
                 *  http://leafletjs.com/examples/choropleth/
                 */

                /**
                 * CREATE NEW SYMBOL TO POLYLINE DECORATOR
                 */
                L.Symbol.LongArrowHead = L.Class.extend({
                    isZoomDependant: true,
    
                    options: {
                        polygon: true,
                        pixelSize: 10,
                        headAngle: 60,
                        pathOptions: {
                            stroke: false,
                            weight: 2
                        }
                    },
    
                    initialize: function (options) {
                        L.Util.setOptions(this, options);
                        this.options.pathOptions.clickable = false;
                    },

                    buildSymbol: function(dirPoint, latLngs, map, index, total) {
                        var opts = this.options;
                        var path;
                        if(opts.polygon) {
                            path = new L.Polygon(this._buildArrowPath(dirPoint, map), opts.pathOptions);
                        } else {
                            path = new L.Polyline(this._buildArrowPath(dirPoint, map), opts.pathOptions);
                        }
                        return path;
                    },
    
                    _buildArrowPath: function (dirPoint, map) {
                        var d2r = Math.PI / 180;
                        var tipPoint = map.project(dirPoint.latLng);
                        var direction = (-(dirPoint.heading - 90)) * d2r;
                        var radianArrowAngle = this.options.headAngle / 2 * d2r;
        
                        var headAngle1 = direction + radianArrowAngle,
                            headAngle2 = direction - radianArrowAngle;
                        var arrowHead1 = new L.Point(
                                tipPoint.x - this.options.pixelSize * Math.cos(headAngle1),
                                tipPoint.y + this.options.pixelSize * Math.sin(headAngle1)),
                            arrowHead2 = new L.Point(
                                tipPoint.x - this.options.pixelSize * Math.cos(headAngle2),
                                tipPoint.y + this.options.pixelSize * Math.sin(headAngle2));
                            arrowBack1 = new L.Point(
                                arrowHead1.x - this.options.pixelSize * Math.cos(headAngle1*2),
                                arrowHead1.y + this.options.pixelSize * Math.sin(headAngle1*2)),
                            arrowBack2 = new L.Point(
                                arrowHead2.x - this.options.pixelSize * Math.cos(headAngle2*3),
                                arrowHead2.y + this.options.pixelSize * Math.sin(headAngle2*3));
                            arrowBackCenter = new L.Point(
                                tipPoint.x - this.options.pixelSize * Math.cos(headAngle2*4),
                                tipPoint.y + this.options.pixelSize * Math.sin(headAngle2*4));
//TODO: TERMINAR ESTO
                        return [
                            map.unproject(arrowHead1),
                            dirPoint.latLng,
                            map.unproject(arrowHead2),
                            map.unproject(arrowBack2),
                            map.unproject(arrowBack1),
                            map.unproject(arrowBackCenter)
                        ];
                    }
                });

                L.Symbol.longArrowHead = function (options) {
                    return new L.Symbol.LongArrowHead(options);
                };

                /**
                 * SET MAP
                 */
                var beauchefLocation = L.latLng(-33.457910, -70.663869);
                var map = L.map("mapid", {
                    editable: true,
                    closePopupOnClick: false
                }).setView(beauchefLocation, 13);
                var layers = {};
                var baseLayer = DTPM.setLayerControl(map);
                var mapControl = L.control.layers({}, {}).addTo(map);

                // color for route
                var getColor = function (d) {
                    return d <  0  ? '#c4c4c4' :
                           d <= 15 ? '#ff0000' :
                           d <= 19 ? '#ff9000' :
                           d <= 21 ? '#fff600' :
                           d <= 25 ? '#19ff00' :
                           d <= 30 ? '#0d8900' :
                                     '#2133f2';
                }

                /**
                 * DEFINE INFO
                 */
                var info = L.control({position: 'topright'});

                info.onAdd = function (map) {
                    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                    this._div.innerHTML = '<h4>Velocidad por eje</h4>' + 
                        '<b>Muestra de las velocidades presente en los ejes principales de Santiago de chile</b>' + 
                        '<br /> Los datos mostrados consideran la velocidad de los buses de los últimos 15 minutos.' +
                        '<br /> que recorren las calles señaladas.' + 
                        '<br /><select id="drawType" class="form-control"><option value="1">Línea</option><option value="2">Patrón</option><option value="3">Calor</option></select>';
                    return this._div;
                };
                info.addTo(map);
                
                /**
                 * DEFINE LEGEND
                 */
                var legend = L.control({position: 'bottomright'});
                legend.onAdd = function (map) {

                    var div = L.DomUtil.create('div', 'info legend'),
                    grades = [0, 15, 19, 21, 25, 30],
                    labels = [];

                    // loop through our density intervals and generate a label with a colored square for each interval
                    for (var i = 0; i < grades.length; i++) {
                        div.innerHTML +=
                        '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                        grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                    }

                    return div;
                }; 
                legend.addTo(map);

                /**
                 * DEFINE DRAW FUNCTIONS 
                 */
                function drawHotline(data) {
                    
                    var bounds = null;
                    
                    // remove currents layers
                    $.each(layers, function(i, layer){
                        map.removeLayer(layer);
                        mapControl.removeLayer(layer);
                    });
                    layers = {};

                    $.each(data, function(i1, street){
                        var latLngsWithVelocities = [];
                        var joinedSections = [];
                        var streetName = i1;
                        var streetTime = street.time;
                        //var streetVelocity = ;

                        $.each(street.sections, function(i, section){
                            var velocity = section.velocity;
                            var time = section.time;
                            var originStreet = section.originStreet;
                            var destinationStreet = section.destinationStreet;
                            
                            section.points.map(function(point){
                                point["velocity"] = velocity;
                                point["time"] = time;
                            });
                            joinedSections = joinedSections.concat(section.points);
                        });
                        joinedSections;

                        // order by distOnRoute
                        joinedSections.sort(function(a, b) {
                            return a.distOnRoute - b.distOnRoute;
                        });
                        
                        $.each(joinedSections, function(i2, point){
                            latLngsWithVelocities.push([
                                point.latitude, 
                                point.longitude, 
                                point.velocity]);
                        });

                        var line = L.hotline(latLngsWithVelocities, {
                            min: -1, 
                            max: 100, 
                            palette: {
                                0.0:  getColor(0),
                                0.15: getColor(15),
                                0.19: getColor(19),
                                0.21: getColor(21),
                                0.25: getColor(25),
                                0.30: getColor(30),
                                1.0: getColor(100),
                            },
                            weight: 10,
                            outlineColor: '#000000',
                            outlineWidth: 1, 
                            //smoothFactor: 2
                        });
                        // var line = L.polyline(latLngsWithVelocities);
                        //var message = '<h1>' + velocity + ' Km/hr</h1><h4>Aquí puede ir otra cosa.</h4>';
                        //line.bindPopup(message);
                        layers[i1] = line;

                        if (bounds == null) {
                            bounds = line.getBounds();
                        } else {
                            bounds.extend(line.getBounds());
                        }
                    });

                    // add new layers
                    $.each(layers, function(i, layer){
                        layer.addTo(map);
                        mapControl.addOverlay(layer, i);
                    });

                    map.fitBounds(bounds);

                    console.log("Map updated with hotlines");
                };

                function drawPolylineDecorator(data) {
                     
                    var overlays = [];
                    var bounds = null;
                    
                    var ads;
                    // remove currents layers
                    $.each(layers, function(i, layer){
                        map.removeLayer(layer);
                        mapControl.removeLayer(layer);
                    });
                    layers = {};

                    $.each(data, function(i1, street){
                        var overlay = L.layerGroup([]);
                        var streetName = i1;
                        var streetTime = street.time
                        $.each(street.sections, function(i, section){
                            var latLngs = [];
                            var velocity = section.velocity;
                            var sectionTime = section.time;
                            var points = section.points;
                            
                            // order by distOnRoute
                            points.sort(function(a, b) {
                                return a.distOnRoute - b.distOnRoute;
                            });
    
                            $.each(points, function(i2, point){
                                latLngs.push([point.latitude, point.longitude]);
                            });

                            var line = L.polyline(latLngs, {color: getColor(velocity)});
                            overlay.addLayer(line);
                            var patternsOpts = [
                                    // defines a pattern of 10px-wide dashes, repeated every 20px on the line
                                    {offset: 0, repeat: 30, symbol: 
                                     //L.Symbol.longArrowHead({rotate: true,
                                     L.Symbol.arrowHead({rotate: true,
                                         pixelSize: 30, 
                                         polygon: true, 
                                         pathOptions: {
                                             color: getColor(velocity), 
                                             stroke: true
                                         }
                                     })}
                                ]

                            var decorator = L.polylineDecorator(line, {
                                patterns: patternsOpts                          
                            });
                            var message = '<h1>' + velocity + ' Km/hr</h1><h4>Aquí puede ir otra cosa.</h4>';
                            decorator.bindPopup(message);
                            overlay.addLayer(decorator);

                            //********************************************************/
                            // animation
                            var arrowOffset = 0;
                            patternsOpts[0].repeat = 0;
                            var anim = window.setInterval(function() {
                                patternsOpts[0].offset = arrowOffset + '%';
                                decorator.setPatterns(patternsOpts);
                                if(++arrowOffset > 100)
                                    arrowOffset = 0;
                            }, 10);
                            //*/
                            //********************************************************/

                            if (bounds == null) {
                                bounds = line.getBounds();
                            } else {
                                bounds.extend(line.getBounds());
                            }
                        });
                        
                        layers[i1] = overlay
                    });

                    // override currents overlays of control
                    $.each(layers, function(i, layer){
                        layer.addTo(map);
                        mapControl.addOverlay(layer);
                    });

                    map.fitBounds(bounds);

                    console.log("Map updated with polyline decorator");
                };

                function drawColorLine(data) {
                     
                    var overlays = {};
                    var bounds = null;
                    
                    // remove currents layers from map
                    $.each(layers, function(i, layer){
                        map.removeLayer(layer);
                        mapControl.removeLayer(layer);
                    });
                    layers = {};

                    $.each(data, function(i1, street){
                        var overlay = L.layerGroup([]);
                        var streetName = i1;
                        var streetTime = street.time;
                        //var streetVelocity = ;
                        $.each(street.sections, function(i, section){
                            var latLngs = [];
                            var velocity = section.velocity;
                            var sectionTime = section.time;
                            var points = section.points

                            // order by distOnRoute
                            points.sort(function(a, b) {
                                return a.distOnRoute - b.distOnRoute;
                            });
    
                            $.each(points, function(i2, point){
                                latLngs.push([point.latitude, point.longitude]);
                            });

                            var line = L.polyline(latLngs, {
                                color: getColor(velocity), 
                                weight: 8
                            });

                            var message = "<h1>" + velocity + " Km/hr</h1><h4>Aquí puede ir otra cosa.</h4>";
                            line.bindPopup(message, {
                                closeButton: false
                            });
                            overlay.addLayer(line);

                            if (bounds == null) {
                                bounds = line.getBounds();
                            } else {
                                bounds.extend(line.getBounds());
                            }
                        });
                        
                        layers[i1] = overlay;
                    });

                    // add layers to map and control
                    $.each(layers, function(i, layer){
                        layer.addTo(map);
                        mapControl.addOverlay(layer, i);
                    });

                    map.fitBounds(bounds);

                    console.log("Map updated with polyline");
                };
 
                function drawPOIs(data) {
                    
                    var POIsOverlay = L.layerGroup([]);

                    $.each(data, function(i, poi){
                        var paramName = "Nombre: " + poi.name;
                        //var paramOrigin = "Origen: " + poi.origin;
                        //var paramDestination = "Destino: " + poi.destination;
                        var paramZone = "Zona: " + poi.zone;
                        //var paramStreet = "Calle: " + poi.street;
                        var params = [];
                        params.push(paramName);
                        //params.push(paramOrigin);
                        //params.push(paramDestination);
                        params.push(paramZone);
                        //params.push(paramStreet);
                        params = params.join("<br />");

                        var marker = L.marker([poi.latitude, poi.longitude], {
                           icon: L.icon({
                               iconUrl: 'http://icons.iconarchive.com/icons/custom-icon-design/mono-business/16/target-icon.png',
                               iconSize: [16, 16]
                           })
                        }).bindPopup("<p>" + params + "</p>");
                        POIsOverlay.addLayer(marker);
                    });

                    POIsOverlay.addTo(map);
                    mapControl.addOverlay(POIsOverlay, 'POIs');

                    console.log("Map updated with POIs");
                }

                /**
                 * LOAD DATA
                 */
                DTPM.loadData(function(){
                   
                    var updateMap = function(data){
                        var drawType = $("#drawType option:selected").val();

                        switch(drawType) {
                            case "1": 
                                drawColorLine(data);
                                break;
                            case "2": 
                                drawPolylineDecorator(data);
                                break;
                            case "3": 
                                drawHotline(data);
                                break;
                        }
                    };

                    var rawPOIsData = [];
                    var rawData = [];
                    $.ajax({
                        url: "getStreetData",
                        success: function(data){
                            //TODO: dar formato cn opciones de destino y zona
                            Norte =       data.Destination.Centro.Norte;
                            Poniente1 =   data.Destination.Centro.Poniente1;
                            Poniente2 =   data.Destination.Centro.Poniente2;
                            Oriente =     data.Destination.Centro.Oriente;

                            rawData = $.extend({}, Norte, Poniente1, Poniente2, Oriente);
                            console.log(rawData);
                            updateMap(rawData);

                            $('#drawType').change(function(){
                                updateMap(rawData);
                            });

                            $.ajax({
                                url: "getPOIData",
                                success: function(data){
                                    rawPOIsData = data.POIs;
                                    drawPOIs(rawPOIsData);
                                }
                            });
                        }
                    });
                    
                }, "{% static ""%}");
            });
        </script>
    </body>
</html>
