<!doctype html>
{% load static %}
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Servicios online</title>
        <meta name="description" content="Servicios en vivo">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "components/normalize-css/normalize.css" %}">
        
        <!-- leaflet -->
        <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
        
        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap-theme.min.css" %}" />

        <link rel="stylesheet" href="{% static "components/bootstrap-toggle/css/bootstrap-toggle.css" %}" />

        <style>
        html, body, .container-fluid {
            height: 100%;
        }
        input[type = "text"] {
            max-width: 70px
        }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container-fluid">
            <div class="row" style="height: 100%">
                <div class="col-md-3">
                    <HR>
                    <div class="panel panel-default" >
		        <div class="panel-body">
			    <input id="toggle" type="checkbox" data-toggle="toggle" data-on="´Código DTPM" data-off="Código usuario" data-size="large" data-width="100%">
			</div>
		    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Secuencia de viaje</h3>
                        </div>
                        <div id='steps' class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <input type="button" id="addStep" value="Agregar paso" class="btn btn-default btn-sx" /> 
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="height: 100%;min-height: 100%">
                    <div id="mapid" style="height: 100%;min-height: 100%"></div>
                </div>
            </div>
        </div>
        
        <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>    
        <script src="{% static "components/bootstrap-toggle/js/bootstrap-toggle.min.js" %}"></script>    
        <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>    
        <script src="{% static "js/Leaflet.GTFS.js" %}"></script>
        <script src="{% static "components/leaflet-polylinedecorator/leaflet.polylineDecorator.js" %}"></script>

        <script>
            $(document).ready(function() {
                /**
                 * SET MAP
                 */
                var beauchefLocation = L.latLng(-33.457910, -70.663869);
                var map = L.map("mapid", {editable: true}).setView(beauchefLocation, 15);
                DTPM.setLayerControl(map);

                var stepLayers = {};

                /**
                 * LOAD DATA
                 */
                DTPM.loadData(function() {

                        $.getJSON("{% static "data/dict.json" %}", function(dict) {
                                /*
                                function to add a new step
                                */
                                addNewStep = function() {
                                    var container = $('#steps');
                                    var newId = container.children().length + 1;

                                    var row = '<div class="form-inline" data-id="' + newId + '"><input value="PA453" name="firstStop" type="text" class="form-control input-sm" placeholder="PA33"><input value="PA434" name="lastStop" type="text" class="form-control input-sm" placeholder="PI433"><input value="506I" name="service" type="text" class="form-control input-sm" placeholder="506"><button name="seeStep" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button><button name="removeStep" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></div>';

                                    container.append(row);
                                    $('button[name = "removeStep"]').click(removeStep);
                                    $('button[name = "seeStep"]').click(seeStep);

                                    stepLayers[newId] = L.layerGroup([]);
                                    map.addLayer(stepLayers[newId]);

                                    console.log('row added');
                                }

                                removeStep = function() {
                                    var parent = $(this).parent('.form-inline');
                                    var id = parent.data('id');

                                    map.removeLayer(stepLayers[id]);
                                    delete stepLayers[id];

                                    parent.remove();

                                    console.log('row removed');
                                }

                                seeStep = function() {
                                    var parent = $(this).parent('.form-inline');
                                    var id = parent.data('id');
                                    var firstStop = parent.children('input[name="firstStop"]').val();
                                    var lastStop = parent.children('input[name="lastStop"]').val();
                                    var serviceWithDirection = parent.children('input[name="service"]').val();

				    if ($("#toggle").prop('checked')) {
                                        firstStop = dict[firstStop];
                                        lastStop = dict[lastStop];
				    }

                                    console.log('step ' + id + ': ' + firstStop + ' -> ' + serviceWithDirection + ' -> ' + lastStop);

                                    DTPM.drawStops(stepLayers[id], [firstStop, lastStop]);

                                    var routes = DTPM.getRoutes([serviceWithDirection]);
                                    var section = DTPM.drawPartOfRoute(stepLayers[id], serviceWithDirection, firstStop, lastStop);

                                    var serviceWithoutDir = serviceWithDirection.substring(0, serviceWithDirection.length - 1);
                                    // addd arrows
                                    stepLayers[id].addLayer(L.polylineDecorator(section, {
                                        patterns: [{
                                            offset: 0,
                                            endOffset: 0,
                                            repeat: '40',
                                            symbol: L.Symbol.arrowHead({
                                                pixelSize: 10,
                                                polygon: true,
                                                pathOptions: {
                                                    fillOpacity: 1,
                                                    color: DTPM.getRouteColor(serviceWithoutDir),
                                                    stroke: true
                                                }
                                            })
                                        }]
                                    }));

                                    console.log('row drawn');
                                }

                                $('#addStep').click(addNewStep);
                            });
                    }, "{% static ""%}");
            });        
	</script>
    </body>
</html>
