<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset=utf-8 />
    <title>Beacon test</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Load c3.css -->
    <link href="{% static "components/c3/c3.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <style>
        html, body, .container-fluid {
     		height: 100%;
	}
	.containerId{
		float: bottom;
		min-width= 60%;
		max-width= 100%;
		margin: 5px;
		padding: 5px;
	}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height: 100%">
            <div class="col-md-3">
                <HR>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ventana de tiempo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="start">Inicio:</label>
                            <input id="start" type="text" class="form-control" placeholder="feche-hora" 
                                value="2017-01-09 14:36:00">
                        </div>
                        <div class="form-group">
                            <label for="end">Fin:</label>
                            <input id="end" type="text" class="form-control" placeholder="feche-hora"
                                value="2017-01-09 14:37:00">
                        </div>
                        <input type="button" id="update" value="Actualizar gráfico" class="btn btn-default" /> 
                    </div>
	    	</div>
	    	<div class="panel panel-default">
			<div class= "panel-heading">
				<h3 class="panel-title">Dispositivos disponibles</h3>
			</div>
			<div id="buttons" class="panel-body">
			</div>
		</div>
	    </div>
            <div id="chartWrapper" class="col-md-9" style="height: 100%;min-height: 100%; margin-top:3%; padding-left:0px; padding-right:0px">

    </div>
 
    <!-- Load d3.js and c3.js -->
    <script src="{% static "components/d3/d3.min.js"%}" charset="utf-8"></script>
    <script src="{% static "components/c3/c3.min.js" %}"></script>
    <script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script>
	function setBackgroundColor(p){
		if(p.data == true){
			p.style.background = "#555555";
			p.style.color = "white";
			p.data = false;
		}
		else{
			p.style.background = "#4CAF50";
			p.style.color = "black";
			p.data = true;
		}
	}
    </script>
    <script>
        /*
         *  CHART
         */
        var charts = {};

        var getChart = function(deviceId) {
	    
	    if (charts.hasOwnProperty(deviceId)) {
                return charts[deviceId];
	    }

            var chart = c3.generate({
                bindto: '#id' + deviceId,
                data: {
                    columns: [
		        []
                    ],
                    xFormat: '%Y-%m-%d %H:%M:%S',
                },
                axis: {
                    x: {
                        type: "timeseries",
                        tick: {
                            format: '%H:%M:%S',
		            rotate: -75,
                            multiline: false
                        },
                        label: {
                            text: 'Hora[HH:MM:SS]'
		        },
                        height: 80
                    },
		    y: {
                        label: {
	                    text: 'RSSI',
                            position: 'outer',
	                }
		    }
                },
	        lables: true,
            });
	    charts[deviceId] = chart;

	    return chart;
	}

        /*
         *  UPDATE CHART
         */
        var updateChart = function(deviceId) {
	    console.log('updating chart...');
            var start = $('#start').val();
            var end = $('#end').val();

            $.get('getChartData', {'start': start, 'end': end, 'device': deviceId}, 
            function(data){
		console.log(data);
                
		var chartOpts = {
                    xs: data['xs'],
                    columns: data['columns'],
                    xFormat: '%Y-%m-%d %H:%M:%S',
		    unload: true,
                }
		var chart = getChart(deviceId);
                chart.load(chartOpts);
	        chart.xgrids.remove();
		chart.xgrids.add(data['events']);
		console.log('chart updated');
            });
        }

        var clearDivs = function(newDivs) {
	    $('#chartWrapper').children('div[id^=id]').each(function(i, div){
	        var id = div.id.substring(2, div.id.length);

	        var result = $.grep(newDivs, function(e){ return e.deviceId == id;});
	        if (result.length == 0) {
                    charts[id].destroy();
	            delete charts[id];
                    $(div).remove();
	        }
	    });
	}

	var clearButtons = function(){
		$('<div id="buttons" class="panel-body"></div>').replaceAll("#buttons");
	}

        var getDevices = function() {
	    console.log('getting devices info...');
            var start = $('#start').val();
            var end = $('#end').val();

            $.get('getDevicesData', {'start': start, 'end': end}, 
            function(data) {
                console.log(data);
		clearDivs(data);
		 
		var percentage = 100/data.length;
		$.each(data, function(i, v){
		    var deviceId = v.deviceId;
		    var buttonId = '	<button type="button" class="btn btn-default collapsed" data-toggle="collapse" data-target="#id'+ deviceId +'" aria-expanded="false" onclick=" setBackgroundColor(this)" style=" width:100%; align:center; background-color: #555555; color: white"> Device '+ deviceId + '</button>';
		    var dataId = '	<div id="id' + deviceId + '" class="c3 collapse" aria-expanded="false" style="position: relative; height: '+ percentage+'%"></div>';
	
		    // if tag does not exists
		    if ($('#id'+deviceId).length == 0) {
			$('#chartWrapper').append(dataId);
			} 
		    $('#buttons').append(buttonId);
		    updateChart(deviceId);
                });
	    })
	}

        /*
         *  ADD BEHAVIOR TO BUTTON
         */
	$('#update').click(clearButtons);
        $('#update').click(getDevices);
	//reference: http://stackoverflow.com/questions/10632346/how-to-format-a-date-in-mm-dd-yyyy-hhmmss-format-in-javascript
	Number.prototype.padLeft = function(base,chr){
            var  len = (String(base || 10).length - String(this).length)+1;
	    return len > 0? new Array(len).join(chr || '0')+this : this;
	}
        var getFormattedDate = function (date) {
	    var d = date,
	        dformat = [d.getFullYear(),
		           (d.getMonth()+1).padLeft(),
                           d.getDate().padLeft()].join('-') + ' ' +
                          [d.getHours().padLeft(),
                           d.getMinutes().padLeft(),
                           d.getSeconds().padLeft()].join(':');

	    return dformat;
        }

	var MINUTES = 60;
	var dateEnd = new Date();
	var dateStart = new Date(dateEnd.valueOf() - 60000*MINUTES);
        $('#start').val(getFormattedDate(dateStart));
        $('#end').val(getFormattedDate(dateEnd));
    </script>
    </body>
    </html>
