<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vistas</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "components/bootstrap/dist/css/bootstrap.min.css" %}" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .hero-spacer {
        margin-top: 50px;
    }

    .hero-feature {
        margin-bottom: 30px;
    }

    footer {
        margin: 50px 0;
    }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!--
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
                        -->
			<a class="navbar-brand" href="#">Prototipos</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<!--
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
				<a href="#">About</a>
				</li>
				<li>
				<a href="#">Services</a>
				</li>
				<li>
				<a href="#">Contact</a>
				</li>
			</ul>
		</div>
                -->
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Hola!</h1>
	<p>A continuación encontrarás distintas vistas que te permitirán ver las cosas que estamos desarrollando para análisis datos de transporte. Es importante notar que este sitio y su contenido ha sido desarrollado con un objectivo exploratorio y por ende no debe ser considerado como definitivo. Puede cambiar en cualquier momento y sin previo aviso.</p>
        <p>Dependiente de proyecto FONDEF XXX. Universidad de Chile, FCFM</p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
	    <h3>Vistas</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
		    <!-- <img src="http://placehold.it/800x500" alt=""> -->
                <div class="caption">
                    <h3>GPS online</h3>
		    <p>Muestra los GPS en vivo por servicio y sentido.</p>
		    <p><a href="map/show" class="btn btn-primary">Ver todos!</a>
		    <a href="map/service" class="btn btn-primary">Ver por servicio!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Dibujar etapa</h3>
		    <p>Dibuja una o más etapas en un mapa.</p>
		    <p><a href="drawRoute/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cálculo de velocidades</h3>
		    <p>Aplicación para calcular la velocidad de una calle basada en los buses que la recorren.</p>
		    <p><a href="dtpmVelocities/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Gente esperando o paraderos sin buses</h3>
		    <p>Muestra una estimación de la cantidad de gente que espera en un paradero basado en la información de ADATRAP. Otra vista es un ranking de paraderos con los mayores tiempos en que no ha pasado un bus.</p>
		    <p><a href="waitingUsersByBusStop/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Rutas similares</h3>
		    <p>Permite visualizar los paraderos comunes entre dos servicios junto con sus rutas</p>
		    <p><a href="similarservices/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Tiempos por eje</h3>
		    <p>Muestra los tiempos de viaje para distintos ejes de la ciudad de Santiago de Chile basado en la información en línea de los GPS de los buses de Transantiago (últimos 15 minutos).</p>
		    <p><a href="timePerStreet/show" class="btn btn-primary">Ver mapa!</a>
		    <a href="timePerStreet/show2" class="btn btn-primary">Ver tabla!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Velocidad por tramos</h3>
		    <p>Muestra las velocidades de los principales ejes de la ciudad de Santiago de Chile. Fuente de datos: GPS de los últimos 15 minutos de los buses de Transantiago.</p>
		    <p><a href="velocityPerStreet/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Predictor de tiempo</h3>
		    <p>Permite visualizar los tiempos en los que llegará un bus a los paraderos en los que se debe detener.</p>
		    <p><a href="timePredictor/show" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Posición de bus</h3>
		    <p>URL que recibe dos parámetros: una patente más una fecha y retorna el punto gps de la patente consultada más cercana a la fecha dada (el link asociado tiene un caso de ejemplo). La fuente de datos corresponde a los pulsos gps capturados en los últimos 15 minutos de todos los buses activos.</p>
		    <p><a href="transappBusPosition/getEstimatedPosition?licencePlate=CJRD76&time=2016-11-12%2020:56:20" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Visualizador de GTFS</h3>
		    <p>Sitio que permite visualizar los datos de distintos GTFS's.</p>
		    <p><a href="http://107.170.198.189/feed/" class="btn btn-primary">Ver aquí!</a></p>
		</div>
	    </div>
	</div>

	<div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Información Diaria de Buses</h3>
                    <p>Muestra datos diarios sobre los buses, como la cantidad de kilómetros recorridos tanto dentro como fuera de su respectiva ruta.</p>
                    <p><a href="dailybusesinfo/show" class="btn btn-primary">Ver aquí!</a></p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2016</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="{% static "components/jquery/dist/jquery.min.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>
